//fonts
$font-main:  'PT Sans Caption', sans-serif;

//Colors
$main-color:rgba(54, 72, 68, 1);
$bg-hero: rgba(248, 251, 250, 1);
$slider-bg:rgba(226, 240, 239, 1);
$button: rgba(13, 188, 145, 1);
$button-active: rgba(0, 210, 159, 1);
$green-bg:rgba(31, 161, 129, 1);
$white: rgba(255, 255, 255, 1);
$footer-bg:rgba(8, 102, 79, 1);